@font-face {
    font-family: domaine;
    src: url(./5f242a69b1577e63266b4d72_DomaineDispCondMedium.ttf);
}
@font-face {
    font-family: editor;
    src: url(./5f242a694256f02b944d5767_EditorialNew-Light.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#main{
    height: max-content;
    overflow-x: hidden;
}

#page1{
    min-height: 110vh;
    width: 100vw;
    background-color: #c4bcb3;
    position: relative;
    overflow: hidden;
}

#nav{
    height: 110px;
    /* background-color: red; */
    width: 100%;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a222 ;
}

#nav img{
    height: 30px;
    width: 30%;
}

#nav h5{
    font-size: 20px;
    font-weight: 100;
    width: 30%;
}

#nav i{
    width: 30%;
    text-align: right;
}

#elems{
    /* background-color: red; */
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px;
}

#elem1{
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    
}
#elem2{
    width: 30%;
    height: 100%;
    /* background-color: blue; */
    padding: 20px 60px;
    text-align: center;
    border-right: 2px solid #acacac;
    border-left: 2px solid #acacac
}
#elem3{
    width: 30%;
    height: 100%;
    /* background-color: blue; */
}

#elem1 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}

#image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* zoom image transition */
    transition: all ease 0.5s;
}

#elem3 #image-div{
    height: 60%;
    width: 100%;
    overflow: hidden;
}

/* zooms the image */
#image-div:hover img{
    scale: 1.1;
}

#elem1 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
}

#elem1 h4 span{
    background-color: #b43b12;
    color: #c4bcb3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}

#elem1 p{
    font-size: 23px;
    font-family: domaine;
    font-weight: 100;
    color: #656565;
}

#elem3 h4{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: canopee;
}

#elem3 h4 span{
    background-color: #b43b12;
    color: #c4bcb3;
    font-weight: 100;
    font-size: 18px;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}

#elem3 p{
    font-size: 23px;
    font-family: domaine;
    font-weight: 100;
    color: #656565;
}

#elem2 h2{
    font-family: canopee;
    font-size: 75px;
    font-weight: 100;
}

#elem2 h3{
    font-family: domaine;
    font-size: 50px;
    color: #2f2f2f;
    font-weight: 100;
    margin: 20px 0;
}

#elem2 h6{
    font-family: domaine;
    font-size: 20px;
    color: #2f2f2f;
    font-weight: 100;
}

#page1 h1{
    font-size: 700px;
    letter-spacing: -25px;
    font-weight: 100;
    font-family: canopee;
    background-color: #1c1c19;
    color: transparent;
    line-height: 600px;
    margin-left: 2%;
    width: 96%;
    background-image: url('denise-chan-pXmbsF70ulM-unsplash.jpg');
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}

#page2{
    height: max-content;
    width: 100%;
    background-color: #c4bcb3;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding: 90px 40px;
}

#page2-left{
    height: 100%;
    width: 37%;
    /* background-color: red; */
    border-right: 0.1px solid #787676;
}

#page2-left h2{
    font-size: 120px;
    font-family: domaine;
    line-height: 150px;
    font-weight: 500;
    letter-spacing: -.05em;
}

#page2-left span{
    font-size: 230px;
    font-weight: 550;
    letter-spacing: 1px;
    font-family: canopee;
    line-height: 130px; 
}

#page2-left p{
    font-size: 48px;
    font-weight: 100;
    font-family: domaine;
    color: #2f2f2f;
    margin-top: 20px;
}

#page2-left img{
    height: 60%;
    width: 88%;
    object-fit: cover;
}

#page2-right{
    height: 100%;
    width: 60%;
    padding: 0 1px;
}

#page2-right img{
    height: 60%;
    width: 100%;
    object-fit: cover;
    
}

#page2-right h2{
    font-family: domaine;
    font-size: 110px;
    font-weight: 900;
    /* letter-spacing: -1px; */
}

#page3{
    padding-bottom: 100px;
    position: relative;
    background-color: #c4bcb3;
}

#page3 h1{
    font-size: 540px;
    font-weight: 100;
    letter-spacing: -10px;
    background-color: #1c1c19;
    width: fit-content;
    margin-left: 2%;
    padding: 25px 25px;
    color: #c4bcb3;
    line-height: 400px;
    font-family: canopee;
}

#page3 img{
    height: 450px;
    position: absolute;
    top: 0;
    right: 3%;
}

#page4{
    background-color: #c4bcb3;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 35px;
    
}

#page4-left{
    width:60%;
    border-right: 0.1px solid #787676;
}
#elemt{
    display: flex;
    align-items: center;
    left: 0;
    /* padding-right: 10px; */
    /* border-right: 0.1px solid black; */
}

#elemt1{
    height: max-content;
    border-right: 0.1px solid #787676;
    padding-right: 40px;
    margin-bottom: 50px;
    margin-top: 5px;

}
#elemt1 h1{
    font-size: 80px;
    font-family: domaine;
    line-height: 150px;
    font-weight: 500;
    letter-spacing: -.01em;
}

#elemt1 h2{
    font-size: 48px;
    font-weight: 100;
    font-family: domaine;
    color: #2f2f2f;
    padding-bottom: 30px;
}
#elemt1 h6{
    font-family: domaine;
    font-size: 30px;
    color: #2f2f2f;
    font-weight: 100;
    padding-bottom: 80px;
}

#elemt2{
    margin-top: 80px;
    height: 100%;
    width: 40%;
    margin-left: 60px;
    margin-bottom: 50px;
}

#elemt2 #image-div2{
    /* padding-top: 50px; */
    height:200%;
    width: 100%;
    overflow: hidden;
}

#image-div2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
}

#image-div2:hover img{
    scale: 1.1;
}

#elemt2 h5{
    font-size: 35px;
    letter-spacing: -1.em;
    font-weight: bold;
    font-family: domaine;
    padding-top: 20px;
    padding-bottom: 5px;
}
#elemt2 p{
    font-family: domaine;
    font-size: 30px;
    color: #2f2f2f;
    font-weight: 100;
    padding-bottom: 80px;
}

#page4-image img{
    height: 90%;
    width: 95%;
    /* position: absolute; */
   right: 3%;
}
#page4-right{
   margin-top: 80px;
   padding-left: 50px;
}

#page4-right h2{
    font-size: 110px;
    font-family: canopee;
    letter-spacing: 9px;
}

#page4-right h1{
    font-size: 210px;
    font-family: domaine;
    letter-spacing: -.01em;
}

#page4-right p{
    font-size: 40px;
    font-weight: 100;
    font-family: domaine;
    color: #2f2f2f;
    padding-bottom: 50px;
    padding-top: 20px;
}

#page4-right #oval{
    background-color: #cac1b6;
    border: 1px solid #2f2f2fc6;
    height: 250px;
    width: 60%;
    border-radius: 60%;
    margin-left: 15%;
    margin-top: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

#oval h1{
    font-size: 100px;
    font-weight: 100;
    font-family: canopee;
    height: 100%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-1%);
    transition: all ease 0.6s;
}

#oval img{
    height: 60px;
    transform:translateX(-120%);
    transition: all ease 0.6s;
}

#oval:hover img{
    transform: translateX(76%);
}

#oval:hover h1{
    transform: translateX(100%);
}


#page5{
    padding: 40px 0;
    width: 100%;
    border-top: 1px solid #2f2f2f;
    border-bottom:1px solid #2f2f2f;
    background-color: #c4bcb3;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;   
}

#page5::-webkit-scrollbar{
    display: none;
}

#page5 h1{
    font-size: 100px;
    font-family: domaine;
    font-weight: 100;
    display: inline-block;
    margin-right: 30px;
    animation: scroll;
    animation-duration:3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#page5 h1 span{
    font-family: canopee;
    background-color: #2f2f2f;
    color: #c4bcb3;
    padding: 0 12px;
}

#page6{
    height: 100px;
    width: 100%;
    background-color: #c4bcb3;   
}

/* email me animation */

@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translate(calc(-100% - 34px));
    }
}

#page5:hover h1{
    animation-play-state: paused;
}